<div class="body-container">
	<div class="body work sub logoji">

		<div class="nav">
			<a href="/" class="beta">MCY</a><br>
			<a href="/work" class="delta"><i class="fa fa-long-arrow-left"></i> work</a>
		</div>

		<div class="header">

			<h1 class="mega emphasis">Logoji Labs</h1>
			<h2 class="tagline">a social media management platform with a twist</h2>
		</div>

		<div class="beta project">

			<div class="mobile-container">

				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							logoji-bold.parseapp.com
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_browser.png" alt="Screenshot of Logoji Labs homepage on desktop device">
				</div>

				<div class="phone">
					<div class="top">
						<div class="camera"></div>
						<div class="speaker"></div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_phone.png" alt="Screenshot of Logoji Labs homepage on mobile device">
					<div class="bottom">
						<div class="home"></div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="emphasis">overview</h1>

		<div class="beta">
			Logoji Labs empowers organizations with a unique tool to create one-of-a-kind marketing campaigns. In the lab, it is possible to combine any logo and url to create a custom, clickable logoji. The publish page makes it easy to create posts with these logojis embedded directly into the text, which will be shared on the chosen, connected Facebook Page either immediately or at a scheduled time in the future. Once posted, the feedback page provides insight into the impact of the logojis used by tracking the number of times they have been clicked.
		</div>

		<h1 class="emphasis">my role</h1>

		<div class="beta">
			I take pride in all of my work, but this project in particular stands out as my favorite. The reason is because of the level of creative freedom and ownership I was allowed. Everything user-facing as well as the logic behind the scenes that supports it was built by me. While I'm not a traditional designer nor do I have an education in UX, I believe that the experience I have crafted is clean and delightful. I find the interface to be aesthetically pleasing, but more importantly highly functional.<br><br>
			Let's dive in ...
		</div>

		<h1 class="emphasis">design</h1>

		<div class="beta">
			<figure>
				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							logoji-bold.parseapp.com
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_login_browser.gif" alt="Gif of Logoji Labs Login page material design on desktop device">
				</div>
			    
			    <figcaption class="epsilon">Login inspired by Material Design</figcaption>
			</figure>
		</div>

		<h2 class="emphasis">material design</h2>

		<div class="beta">
			In general, I've always preferred flat over realistic design, but there still felt like something was missing. Upon being introduced to Google's Material Design, it was love at first sight. Therefore, I decided that Logoji Labs was a perfect time to put these design specs to work. Not everything was approved, but I believe the essense remains and looks amazing.
		</div>

		<h2 class="emphasis">always responsive</h2>

		<div class="beta responsive">

			<div class="phone">
				<div class="top">
					<div class="camera"></div>
					<div class="speaker"></div>
				</div>
				<img class="screenshot" src="/assets/img/logoji_feedback_mobile.png" alt="Screenshot of Logoji Labs Post Feedback page on mobile device">
				<div class="bottom">
					<div class="home"></div>
				</div>
			</div>

			Responsive design is a given with the prevalence of mobile devices. The application must be able to function consistently well no matter what type of device is being used and the design must be cohesive. While this does present additional challenges and complexity, it becomes quite easy with the use of CSS media queries coupled with Bootstrap's grid system.
			<br><br>
			By placing the components of the content into individual cards, I've separated the sections logically and visually. This also allows for consistency and flexibility across devices. The screens show how nicely this design conforms to various widths.
			<br><br>

			<div class="browser">

				<div class="top">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<span>
						<i class="fa fa-globe"></i>
						logoji-bold.parseapp.com
					</span>
					
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<img class="screenshot" src="/assets/img/logoji_feedback_browser.png" alt="Screenshot of Logoji Labs Post Feedback page on desktop device">
			</div>
		</div>

		<h2 class="emphasis" style="clear: both;">content is king</h2>

		<div class="beta">
			Getting more specific, designing the details of each page was actually rather easy as well. The most important determining factor is ultimately the content that the design needs to support. This is where user experience considerations come into play and provide clarity for the design decisions. The underlying theme was already in place, so the question became less of "what looks good" and more "what works well".
			<br><br>
			Foremost, this is a service and in order for the design to be successful, it must empower the user's task. In this case, I will discuss some of the desicion making process involved in creating the Publish page, which has by far the most complex content.
			<br><br>

			<div class="browser">

				<div class="top">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<span>
						<i class="fa fa-globe"></i>
						logoji-bold.parseapp.com
					</span>
					
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<img class="screenshot" src="/assets/img/logoji_browser.png" alt="Screenshot of Logoji Labs Publish page on desktop device">
			</div>

			<br><br>

			Hopefully the intended interaction is obvious, presented in a relatively simple UI that is straight forward. I started by breaking the major functions into tabs, immediately separating the concerns and reducing complexity by half. While everything could be presented to the user immediately, there are several good reasons for not doing so.
			<br><br>
			First, it is overwhelming. There is a lot to take in from the create section alone and cluttering that with even more interface components would make it even more difficult to focus.
			<br><br>
			Next, it is unnecessary. I have presented everything the user needs to create a post with their approved logojis, select which connected page it should be posted on, and immediately share it. The task of scheduling the post to be shared at a later date is completely independent, and if that isn't desired then the user will not be forced to see the UI and mentally block it as irrelevant.
			<br><br>

			<figure>
				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							logoji-bold.parseapp.com
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_schedule_browser.png" alt="Screenshot of Logoji Labs Publish Schedule page on desktop device">
				</div>
			    
			    <figcaption class="epsilon">Scheduling a time to share is independent of creating the content</figcaption>
			</figure>

			Finally, it separates the concerns. For the user, they only need focus on one task at a time; creating the post, then scheduling the post. In this manner they are empowered with a functional design that will enhance their efficiency.
		</div>

		<h1 class="emphasis">dev<span>elopment</span></h1>

		<div class="beta">
			In order to create a seamless publishing experience, there is a lot going on under the hood. I've discussed why I'm particularly proud of this application from a design standpoint, but now I would like to explore a few of the most interesting development challenges.
			<br><br>
		</div>

		<h2 class="emphasis">inserting a logoji</h2>

		<div class="beta">

			<figure>
				<img src="/assets/img/logoji_insert.gif" alt="GIF of inserting logoji into post message on Logoji Labs Publish page on desktop device">
				<figcaption class="epsilon">Seamlessly insert logojis anywhere in the post message</figcaption>
			</figure>

			This is such a cool feature and it really captures the essense of what I love about front-end development. While the logic behind the scenes is rather complex, it comes together beautifully in creating an experience that doesn't feel complicated at all.
			<br><br>
			The first step involved is finding the location of the cursor. The user must be able to consistently expect the selected logoji to be inserted where they want, regardless of if that's at the end, the beginning, or anywhere in between. I won't reveal the exact magic, but it involved the use of the Selection and Range Web APIs.
			<br><br>
			It is worth noting as well that capturing the selection accurately was a bit more complicated due to the event trigger being the click of a logoji. This is because upon clicking, the message loses focus and therefore its cursor data. Programatically focusing the element causes the cursor to be placed at the starting position by default. Thus, I had to implement some additional logic as a workaround to ensure that the cursor's location was preserved accurately.
			<br><br>
			The second step is to insert the proper html at the cursor position. Unfortunately, textarea elements can't contain html, so I had to find a creative solution. Enter the HTML5 contenteditable attribute, which allows any element to be editable, and for my needs supports the insertion of html! Coupled with the Range API it was then trivial to create an html fragment from the logoji and insert it into the message seamlessly.
		</div>

		<h2 class="emphasis">scheduling a post</h2>

		<div class="beta">

			<figure>
				<img src="/assets/img/logoji_schedule.gif" alt="GIF of scheduling post on Logoji Labs Publish page on desktop device">
				<figcaption class="epsilon">Intuitively schedule a post without worrying about validtion</figcaption>
			</figure>

			The logoji insertion feature definitely has more of a wow factor for the user, but the scheduling function is the unsung hero of the publishing process. If it isn't clear already, I want the user to only do the work that is absolutely necessary while I do all of the rest. I've intentionally built this date and time selection interface to be as simple and easy to use as possible, even though there is actually a lot of logic happening with each click. 
			<br><br>
			In the preceeding gif, I'm demonstrating one of the numerous considerations that I had to guard against when it came to date validation. There are suggested time bubbles that must be disabled if less than the current time in order to prevent the user from potentially selected a time in the past. However, when the next day is selected, it enables all bubbles because they all represent a date in the future. This presents an interesting edge case where a user may select a future day with a time that is before the time of the current day, then reselect the current day and be left with the same, now invalid, time.
			<br><br>
			That is just one example, for there are also such cases presented with the custom time selector where the user must be prevented from entering an invalid time, intentionally or accidentally. Other alternatives are possible, including validating the date only once the user clicks the share button, but this would require error feedback for incorrect selections and detract from the seamless experience I wanted to create. My goal is to give users the same type of experience I expect from a service, to get the job done easily and think as little as possible.
		</div>

		<h1 class="emphasis">conclusion</h1>

		<div class="beta">
			Logoji Labs represents my magnum opus to date; a culmination of my skills and talents that have been honed throughout the last two years. With that being said, there is still much that I've learned from this project that I will be reflecting upon and working to improve for the future. Learning is a lifelong journey, and I'm excited for the next development adventure and what it will teach me.
		</div>
	</div>
</div>