<div class="body-container">
	<div class="body work sub spur">

		<div class="nav">
			<a href="/" class="beta">MCY</a><br>
			<a href="/work" class="delta"><i class="fa fa-long-arrow-left"></i> work</a>
		</div>

		<div class="header">

			<h1 class="mega emphasis">spur</h1>
			<h2 class="tagline">real-time, location-based classifieds</h2>
		</div>

		<div class="beta project">
			
			<div class="mobile-container">

				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							www.spur.com
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/spur_browser.jpg" alt="Screenshot of Spur homepage on desktop device">
				</div>
				
				<div class="phone">
					<div class="top">
						<div class="camera"></div>
						<div class="speaker"></div>
					</div>
					<img class="screenshot" src="/assets/img/spur_phone.jpg" alt="Screenshot of Spur homepage on mobile device">
					<div class="bottom">
						<div class="home"></div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="emphasis">overview</h1>

		<div class="beta">
			SPUR is a dynamic service that brings buyers and sellers together in real-time to make convenient, location-based transactions. While websites such as Craigslist provide classifieds to buy and sell, the process of arranging a meeting is an undeniable headache. SPUR aims to flip the script with a unique platform that gives buyers the ability to make on-demand purchases with ease by finding mobile sellers in their area ready to immediately deliver.
			<br><br>
			The map view integrates the Google Maps API, letting buyers dynamically see where active sellers are located around them. Additionally, buyers can focus their interest using the powerful search feature with various filters such as category, subcategory, distance, and keywords. For sellers, this view will give them a visual sense of where their customers are located as well as allow them to sort by the transaction status.
			<br><br>
			Conversely, there is a list view that some users may prefer, giving priority to business information and goods and services available, as opposed to perceived distance on a map.
			<br><br>
			The open spurs page gives buyers and sellers an overview of all their open transactions, their current status, and utilities for communicating, canceling, and leaving reviews.
			<br><br>
			In addition, there are numerous supporting pages such as a buyer profile, listing profile, manage listings, becoming a seller, spur history, and settings. For the sake of brevity, I won't be discussing them in detail; a novella would be the result.
		</div>

		<h1 class="emphasis">my role</h1>

		<div class="beta">
			During my internship I was tasked with a variety of supporting tasks throughout Bold Technologies suite of products. Along with the timing of stepping into a full time position happened to come the contract for the development of SPUR. Thus, a great challenge and opportunity presented itself; SPUR would be the first project I would take substantial development responsibility to produce a robust, user-facing application.

			<br><br>

			Our team consisted of myself, a dedicated designer, another developer, and a QA specialist. Additionally, there was a SPUR native app being produced with its own developers. After a brief discussion, I assumed the responsibility of the lead front-end developer with the other developer taking charge of the core business logic. I was extremely excited to take that role, as the front-end environment has always appealed to me even when I had limited experience. And of course, I viewed it as a great opportunity to demonstrate my value since an application's UI can be fundamental in success.

			<br><br>

			In more technical terms, I produced working interfaces from the designs provided as well as collaborated with the designer to make compromises where I saw concerns. This was my introduction to Bootstrap and Less, and was a trial-by-fire in creating well-constructed markup and styling. Also, the majority of the views required a substantial amount of application logic using node.js and express.js which I developed as well. In hindsight, the amount of work would have been better distributed among more than one developer, but I was happy and proud to have so much ownership over the product. I can browse through SPUR and see my direct impact in everything, and that's what I love about front end.
		</div>

		
	</div>
</div>