 /*--- TABLE OF CONTENTS

01. COLOR SETTINGS
02. MIXINS
03. FONT STANDARDS
04. PRIMARY STYLES
	A. Misc Reset
	B. Framework
05. HEADER
06. FOOTER

--- */

/* ========================================================== */
/* 			           01. COLOR SETTINGS                     */
/* ========================================================== */
@import 'variables.less';

/* ========================================================== */
/* 			           02. MIXINS		                      */
/* ========================================================== */
@import 'mixins.less';

/* ========================================================== */
/* 			           03. FONT STANDARDS                     */
/* ========================================================== */

@import 'font-standards.less';

/* ========================================================== */
/* 			           04. PRIMARY STYLES                     */
/* ========================================================== */

/* ----- A. Misc Reset ----- */

.modal-backdrop{
	bottom: 0;
}

/* ----- End Misc Reset ----- */

/* ----- B. Framework ----- */

:focus{
	outline: none;
}

hr{
	border-color: @border;
}

html, body{
	background: #fff;
	color: @text-secondary;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

a{
	color: @primary;

	&:hover{
		color: @primary-dark;
	}

	&:focus{
		outline: none;
	}
}

select, button, textarea, input {
	vertical-align: baseline;
}

input{
	height: 48px;
	padding: 16px 0 8px 0;
}

ul{
	margin: 0;
	padding: 0;
}

.btn-container{

	@media (max-width: 767px){
		padding: 6px 4px;
	}

	input[type="submit"], input[type="reset"], input[type="button"], button, .btn{
		height: 36px;
		line-height: 24px;
		min-width: 64px;
		text-transform: uppercase;
	}

	.btn{
		background: @primary;
		border-radius: 2px;
		color: @dark-text-primary;
		font-weight: 500;

		&:hover:not(:disabled){
			background: @primary-dark;
		}

		&:focus{
			background: @primary-light;
			color: @primary;
			outline: none;
		}

		&:disabled{
			cursor: not-allowed;
			pointer-events: inherit;
		}
	}
}

.card{
	background: white;
	border-radius: 2px;
	border: 1px solid @border;
	margin-bottom: 30px;
	padding: 15px;

	@media (min-width: 768px){
		padding: 30px;
	}
}

.text-invalid{
	color: @warning;
	position: absolute;
	font-size: 12px;
}

.view-container{
	clear: left;
	height: calc(~'100% - 52px');
	overflow-y: scroll;
	padding: 30px 15px;
	-webkit-overflow-scrolling: touch;

	@media (min-width: 768px){
		height: calc(~'100% - 64px');
		padding: 30px;
	}

	@media (min-width: 992px){
		clear: none;
		width: calc(~'100% - 300px'); height: 100%;
	}

	&.fullscreen{
		display: none;
	}
}

.title{
	color: @text-primary;
}

sub{
	font-size: 8px;
}

.modal-header{
	margin-bottom: 0;
	padding: 20px 30px;
}

.modal-body{
	padding: 20px 30px;
}

.modal-footer{
	padding: 10px;

	.btn-success{
		background: @primary;
		border: none;

		&:hover{
			background: @primary-dark;
			color: white;
		}
	}

	.btn-danger{
		background: #d9534f;
		border: none;
		&:hover{
			background: #df3f3a !important;
			color: white;
		}
	}
}

.modal-dialog{
	width: 400px;
	position: absolute;
	top: 10%;
	left: calc(~'50% - 200px');
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* ----- End Framework ----- */

/* ========================================================== */
/* 				 		END PRIMARY STYLES               	  */
/* ========================================================== */

/* ========================================================== */
/* 						   05. HEADER                         */
/* ========================================================== */

/* Initial welcome screen - covers full screen */
header{
	background: @primary;
	transition: width .75s ease-in-out, height .5s ease-in-out;
	width: 100%; height: 100%;

	.logo, hr, .hamburger{
		opacity: 0;
	}

	.logo{
		float: left;
	}

	.hamburger{
		float: right;
	}

	.avatar-container{
		padding: 100px 0 30px;

		@media (orientation: landscape){
			padding: 100px 0 20px;
		}

		@media (min-width: 768px){
			padding: 150px 0 40px;

			@media (orientation: landscape){
				padding: 125px 0 40px;
			}
		}

		@media (min-width: 992px){
			padding: 75px 0 30px;
		}

		.avatar{
			width: 200px; height: 200px;
			background-image: url('/assets/img/flaglerpier.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border: 5px solid white;
			border-radius: 50%;
			margin: auto;
			transition: all .5s ease-in-out;

			@media (min-width: 768px){
				width: 300px; height: 300px;
			}

			@media (min-width: 992px){
				transition: all .5s ease-in-out .35s;
			}
		}
	}

	.name, .menu{
		transition: opacity .5s ease-in-out;
	}

	.name{
		color: @dark-text-primary;
		margin-bottom: 30px;
		transition: all 1s ease-in-out;

		@media (orientation: landscape){
			margin-bottom: 20px;
		}

		@media (min-width: 768px){
			font-weight: 500;
		}

		@media (min-width: 992px){
			font-weight: 400;
		}
	}

	.menu{
		text-align: center;

		a{
			color: @dark-text-primary;
			font-size: 16px;
			padding-right: 15px;

			@media (min-width: 768px){
				font-size: 22px;
				font-weight: 500;
				padding-right: 25px;
			}

			@media (min-width: 992px){
				font-size: 20px;
				font-weight: 400;
				padding-right: 35px;
				transition: font 1s ease-in-out;
			}

			&::before{
				display: none;
			}

			&:last-child{
				padding-right: 0;
			}

			&:hover, &:focus{
				color: @primary-dark;
				text-decoration: none;
			}

			i{
				margin-right: 5px;

				@media (min-width: 768px){
					margin-right: 10px;
				}
			}
		}
	}
}

header.shrink{
	border-bottom: 1px solid @border;
	box-shadow: 0px 2px 4px @border;
	padding: 0 15px;
	width: 100%; height: 52px;
	transition: width .75s ease-in-out, height .5s ease-in-out;

	@media (min-width: 768px){
		height: 64px;
		padding: 0 30px;
	}

	@media (min-width: 992px){
		border-right: 1px solid @border;
		border-bottom: none;
		box-shadow: none;
		float: left;
		padding: 0;
		width: 300px; height: 100%;
	}

	.logo, hr, .hamburger{
		opacity: 1;
		transition: opacity .3s ease-in-out .3s;
	}

	hr{
		margin-bottom: 0;
	}

	.logo{
		color: @dark-text-primary;
		float: left;
		font-weight: 500;
		line-height: 52px;
		margin-bottom: 0px;

		@media (min-width: 768px){
			line-height: 64px;
		}

		@media (min-width: 992px){
			display: block;
			float: none;
			font-weight: 400;
			text-align: center;
			width: 100%;
		}

		&:hover, &:focus{
			color: @primary-dark;
			text-decoration: none;
		}
	}

	.hamburger{
		margin: 10px;
		margin-right: 0;
		position: relative;
		width: 32px; height: 32px;

		@media (min-width: 768px){
			margin: 15px;
			margin-right: 0;
			width: 34px; height: 34px;
		}

		@media (min-width: 992px){
			display: none;
		}

		span{
			background: @dark-text-primary;
			display: block;
			margin: 5px 0;
			width: 100%; height: 3px;

			@media (min-width: 768px){
				margin: 6px 0;
			}
		}
	}

	.avatar-container{
		@media (min-width: 992px){
			border-bottom: 1px solid @border;
			display: block;
			padding: 30px 0;
			width: 100%;
		}

		.avatar{
			width: 0px; height: 0px;

			@media (min-width: 992px){
				width: 200px; height: 200px;
			}
		}
	}

	.name{
		opacity: 0;

		@media (min-width: 992px){
			font-size: 0;
			height: 0;
			margin-bottom: 0;
			//transition: all 2s ease-in-out;
		}
	}

	.menu{
		box-shadow: 0px 2px 5px @text-hint;
		clear: both;
		max-height: 0px;
		overflow: hidden;
		position: absolute; top: 52px; left: 0; right: 0;
		transition: max-height .5s cubic-bezier(.64,.09,.08,1);
		text-align: left;
		z-index: 10;

		@media (min-width: 768px){
			top: 64px;
		}

		&.open{
			max-height: 500px;
		}

		a{
			background: @primary;
			border-bottom: 1px solid @border;
			color: @dark-text-primary;
			display: block;
			font-size: 16px;
			padding: 12px 16px 12px 0;
			text-decoration: none;
			width: 100%;

			&:focus{
				color: @primary;
			}

			i{
				min-width: 16px;
				margin: 0 16px 0 30px;
				text-align: center;
			}
		}

		@media (min-width: 992px){
			box-shadow: none;
			max-height: none;
			overflow: visible;
			position: relative; top: 0;

			a{
				background-image: linear-gradient(to right, transparent 50%, white 50%);
				background-size: 600px;
				background-position: 600px 0;
				background-repeat: none;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;
				color: @dark-text-primary;
				display: block;
				padding: 12px 16px 12px 0;
				position: relative;
				transition: background-position .3s cubic-bezier(.64,.09,.08,1),
							color .3s cubic-bezier(.64,.09,.08,1),
							width .3s ease-in-out .5s;
				width: calc(~'100% + 1px'); max-width: 300px;

				@media (min-width: 992px){
					height: auto;
				}

				&::before{
					background: @primary-dark;
					content: '';
					display: block;
					margin-top: -1px;
					position: absolute; top: 0; left: -5px;
					transition: left .2s cubic-bezier(.64,.09,.08,1);
					width: 5px; height: 104%;
				}

				&:hover{
					color: @primary-dark;
					text-decoration: none;

					&::before{
						left: 0;
					}
				}

				&:focus, &.current{
					background-position: 300px 0;
					border-top: 1px solid @border;
					border-bottom: 1px solid @border;
					color: @primary;
					text-decoration: none;

					&::before{
						left: 0;
					}
				}

				i{
					margin: 0 16px 0 50px;
				}
			}
		}
	}
}
/* ========================================================== */
/* 						    END HEADER                        */
/* ========================================================== */

/* ========================================================== */
/* 						    06. FOOTER                        */
/* ========================================================== */

/* ========================================================== */
/* 						    END FOOTER                        */
/* ========================================================== */