/*******************
    Theme colors
********************/
// @primary-light: #e8f6f6;
// @primary: #88cccf;
// @primary-dark: #4db6ac;

@primary-light: #b2dfdb;
@primary: #55c4bf;
@primary-dark: #00796b;

@text-primary: rgba(0,0,0,.87);
@text-secondary: rgba(0,0,0,.54);
@text-hint: rgba(0,0,0,.26);
@dark-text-primary: rgba(255,255,255,1);
@dark-text-secondary: rgba(255,255,255,.7);
@dark-text-hint: rgba(255,255,255,.3);

@border: rgba(0,0,0,.12);
@dark-border: rgba(255,255,255,.12);

@light-gray: #e0e0e0;

@warning: #ef5350;