@import '../1-settings/variables';

html,
body {
    color: $dark-text-primary;
    background: black;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    align-items: center;
    display: flex;
    text-decoration: none;

    &:hover {
        //background: $dark-text-primary;
        color: $primary-dark;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}