html, body{
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;

	@media #{$mq-sm} {
		font-size: 22px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin: 0;
}

p {
  line-height: 2;
  margin: 0;
}