@font-face {
	font-family: 'Gaegu';
	font-style: normal;
	font-weight: 300;
	src: url(../assets/fonts/Gaegu/Gaegu-Light.ttf);
}

@font-face {
	font-family: 'Gaegu';
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts/Gaegu/Gaegu-Regular.ttf);
}

@font-face {
	font-family: 'Gaegu';
	font-style: normal;
	font-weight: 500;
	src: url(../assets/fonts/Gaegu/Gaegu-Bold.ttf);
}

@font-face {
	font-family: 'Fira Mono';
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts/FiraMono/FiraMono-Regular.ttf);
}

html, body{
	font-family: 'Gaegu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;

	@media (min-width: 768px){
		font-size: 20px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
	font-weight: 300;
}