@import '../../styles/1-settings/variables';

.menu {
    display: flex;
    height: 100%;

    li {

        a {
            align-items: center;
            display: flex;
            font-weight: 300;
            justify-content: center;
            width: 100px; height: 100%;
        }
    } 
}