<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="personal_website" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="personal_website" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="personal_website" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:ng="http://angularjs.org" lang="en" id="ng-app" ng-app="personal_website" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <title ng-if="page_name != 'Home'" ng-bind="page_name + ' | Michael Clayton Yuen | Web Developer with a passion for Front-end'"></title>
    <title ng-if="page_name == 'Home'">Michael Clayton Yuen | Web Developer with a passion for Front-end</title>
    <meta name="author" content="Michael Clayton Yuen">
    <meta name="description" content="Portfolio of Full-stack web developer with a passion for Front-end web development, specializing in AngularJS, Parse, HTML, LessCSS, Bootstrap, Grunt, and Bower.">

    <!-- Main Template stylesheet used by all pages -->
    <link href="assets/css/main_2.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-animate.min.js"></script>
    <script>
        if (!window.angular) {
            document.write('<script src="assets/js/angular/angular.min.js"><\/script>');
            document.write('<script src="assets/js/angular-route/angular-route.min.js"><\/script>');
            document.write('<script src="assets/js/angular-animate/angular-animate.min.js"><\/script>');
        }
    </script>

    <!-- App -->
    <!-- <script src="app.js"></script> -->

    <!-- Result of grunt 'uglify-all' task
        Minifies and concat all app specific js
        app.js, components, and views -->
    <script src="assets/js/uglify-all/app.min.js"></script>

    <!-- <script src="assets/js/angulartics/angulartics.min.js"></script>
    <script src="assets/js/angulartics/angulartics-google-analytics.min.js"></script> -->

    <!-- Result of grunt 'uglify-all' task
        Minifies and concats all files in assets/js except angular core -->
    <script src="assets/js/uglify-all/lib.min.js"></script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68573068-1', 'none'); // 'none' while you are working on localhost
    </script>
</head>

<body class="preload">

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <span ng-controller="MainController">

        <header ng-class="{'shrink': page_name != 'Home', 'open': menu_open }">
            <a href="/" class="beta logo">
                M<span class="hidden">ichael </span>
                C<span class="hidden">layton </span>
                Y<span class="hidden">uen</span>
            </a>

            <hr class="hidden">

            <div class="hamburger" ng-click="toggleMenu()" ng-class="{'open': menu_open}">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="avatar-container">
                <div class="avatar" title="Cinemagraph portrait of Michael Clayton Yuen, Web Developer with a passion for the Front-end"></div>
            </div>

            <div class="name kilo">Michael Clayton Yuen</div>

            <ul class="menu" ng-click="closeMenu()" ng-class="{'open': menu_open }">

                <li>
                    <a href="/about" ng-class="{'current': page_name == 'About'}">
                        <i class="fa fa-child"></i>About
                    </a>
                </li>

                <li>
                    <a href="/work" ng-class="{'current': page_name == 'Work'}">
                        <i class="fa fa-rocket"></i>Work
                    </a>
                </li>

                <li>
                    <a href="/contact" ng-class="{'current': page_name == 'Contact'}">
                        <i class="fa fa-envelope"></i>Contact
                    </a>
                </li>

                <!-- <li>
                    <a href="#/blog" ng-class="{'current': page_name == 'Blog'}">
                        <i class="fa fa-coffee"></i>Blog
                    </a>
                </li> -->
            </ul>
        </header>

        <div ng-include="page_url" class="view-container" 
            ng-class="{'animation': page_name != 'Home'}" ng-click="closeMenu()"></div>
        
    </span> 
    <!-- End of MainController -->

    <script>
        setTimeout( function() {
            document.getElementsByTagName('body')[0].className = '';
        }, 300);
    </script>
</body>
</html>