<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="personal_website" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="personal_website" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="personal_website" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:ng="http://angularjs.org" lang="en" id="ng-app" ng-app="personal_website" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title ng-bind="page_name + ' | Michael Clayton Yuen'"></title>
    <meta name="description" content="">

    <!-- Roboto Font -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500' rel='stylesheet' type='text/css'>

    <!-- <link href='http://fonts.googleapis.com/css?family=Merriweather:200, 300,400,500,700' rel='stylesheet' type='text/css'> -->

    <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,500,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Main Template stylesheet used by all pages -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-animate.min.js"></script>
    <script>
        if (!window.angular) {
            document.write('<script src="assets/js/angular/angular.min.js"><\/script>');
            document.write('<script src="assets/js/angular-route/angular-route.min.js"><\/script>');
            document.write('<script src="assets/js/angular-animate/angular-animate.min.js"><\/script>');
        }
    </script>
    <script src="assets/js/parse/parse.js"></script>
    <script src="assets/js/parse/parse_angular_patch.js"></script>
    <script src="assets/js/parse/parse_dot.js"></script>
    <script src="assets/js/ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/js/ui-utils/validate.min.js"></script>

    <!-- Result of grunt 'uglify-all' task
        Minifies and concats all files in assets/js except angular core -->
    <!-- <script src="assets/js/uglify-all/lib.min.js"></script>

    <!-- Result of grunt 'uglify-all' task
        Minifies and concat all app specific js
        app.js, components, and views -->
    <!-- <script src="assets/js/uglify-all/app.min.js"></script> -->

    <!-- App -->
    <script src="app.js"></script>

    <!-- Views -->
    <script src="views/home/home.js"></script>
    <script src="views/content/content.js"></script>

    <!-- Components -->
    <script src="components/log_service/log_service.js"></script>
    <script src="components/authorization_service/authorization_service.js"></script>
    <script src="components/user_service/user_service.js"></script>
    <script src="components/custom_filters/custom_filters.js"></script>
</head>

<body class="preload" ng-cloak>
    <span ng-controller="topPageController">

        <header ng-class="{'shrink': page_name != 'Home'}">
            <a href="#/" class="beta logo">
                M<span class="hidden-xs hidden-sm">ichael </span>
                C<span class="hidden-xs hidden-sm">layton </span>
                Y<span class="hidden-xs  hidden-sm">uen</span>
            </a>

            <hr class="hidden-xs hidden-sm">

            <div class="hamburger" ng-click="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="avatar-container">
                <div class="avatar"></div>
            </div>

            <div class="name text-center kilo">Michael Clayton Yuen</div>

            <ul class="menu" ng-click="closeMenu()" ng-class="{'open': menu_open == true}">

                <li>
                    <a href="#/about" ng-class="{'current': page_name == 'About'}">
                        <i class="fa fa-child"></i>About
                    </a>
                </li>

                <li>
                    <a href="#/work" ng-class="{'current': page_name == 'Work'}">
                        <i class="fa fa-rocket"></i>Work
                    </a>
                </li>

                <li>
                    <a href="#/contact" ng-class="{'current': page_name == 'Contact'}">
                        <i class="fa fa-envelope"></i>Contact
                    </a>
                </li>

                <li>
                    <a href="#/blog" ng-class="{'current': page_name == 'Blog'}">
                        <i class="fa fa-coffee"></i>Blog
                    </a>
                </li>
            </ul>
        </header>
        
    </span> 
    <!-- End of TopPageController -->

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-view class="container-fluid view-container" ng-class="{'animation': page_name != 'Home'}"></div>

    <!-- Check for bootstrap css loaded from cdn -->
    <div id="bootstrap-test" class="hide"></div>
    <script type="text/javascript">
        var elem = document.getElementById("bootstrap-test");
        if (elem.offsetWidth > 0 || elem.offsetHeight > 0) {
            var link = document.createElement('link');
            link.type = 'text/css';
            link.rel = 'stylesheet';
            link.href = 'assets/css/bootstrap.min.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        }

        setTimeout( function() {
            document.getElementsByTagName('body')[0].className = '';
        }, 300);
    </script>
</body>
</html>