@import '../../styles/1-settings/variables';

.MyHamburger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30px; height: 100%;

	span {
		&:before {
			background: $text-primary;
			content: '';
			position: absolute; top: -8px;
			transition: top 0.1s 0.25s ease-in,
                    opacity 0.1s ease-in;
			width: 30px; height: 2px;
		}

		background: $text-primary;
		margin-top: -2px;
		position: absolute; top: 50%;
		transition-duration: 0.22s;
      	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		width: 30px; height: 2px;

		&:after {
			background: $text-primary;
			content: '';
			position: absolute; bottom: -8px;
			transition: bottom 0.1s 0.25s ease-in,
                    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
			width: 30px; height: 2px;
		}
	}
}

.MyHamburger__open {

	span {
		&:before {
			top: 0;
          	opacity: 0;
          	transition: top 0.1s ease-out,
                      opacity 0.1s 0.12s ease-out;
		}

		transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

		&:after {
			bottom: 0;
          	transform: rotate(-90deg);
          	transition: bottom 0.1s ease-out,
                      transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}