@import '../styles/1-settings/variables';

.MyContent {
    text-align: center;

    h1 {
        margin-bottom: .5em;
    }

    p {
        display: flex;
        justify-content: space-around;
        margin: 0;

        a {
            color: $dark-text-primary;
        }
    }
}