@import '../styles/1-settings/variables';

.MyContainer__fixed {
	padding-top: 15px;

	@media #{$mq-md} {
		padding-top: 50px;
	}
}

.MyContent {
	font-size: .9rem;
	line-height: 1.3;
	text-align: center;

    h1 {
		margin-bottom: .694444em;

		@media #{$mq-md} {
			margin-bottom: .5em;
		}
    }
}

.MySecondLine {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: 'Fira Mono', monospace;
	justify-content: space-around;
	line-height: 1.5;
	margin: 0;

	@media #{$mq-md} {
		flex-direction: row;
	}

	span {
		align-items: center;
		display: flex;

		&:nth-child(2),
		&:nth-child(4) {
			margin-top: 5px;
			margin-bottom: 5px;

			@media #{$mq-md} {
				margin: 0;
			}
		}

		&:last-child {
			flex-wrap: wrap;
			justify-content: center;

			a {
				margin-left: 10px;

				@media #{$mq-md} {
					margin-left: 0;
				}

				@media #{$mq-lg} {
					margin-left: 10px;
				}
			}
		}

		a {
			color: $dark-text-primary;
			display: flex;
		}
	}
}

.ResyLogo {
	background: $white;
	fill: $resy;
}