<div class="body-container">
	<div class="body work sub animalfax">

		<div class="nav">
			<a href="/" class="beta">MCY</a><br>
			<a href="/work" class="delta"><i class="fa fa-long-arrow-left"></i> work</a>
		</div>

		<div class="header">

			<h1 class="mega emphasis">animalfax</h1>
			<h2 class="tagline">find, review, and discuss pet services</h2>
		</div>

		<div class="beta project">
			<div class="mobile-container">

				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							animalfax.parseapp.com
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/animalfax_browser.png" alt="Screenshot of AnimalFax homepage on desktop device">
				</div>
				
				<div class="phone">
					<div class="top">
						<div class="camera"></div>
						<div class="speaker"></div>
					</div>
					<img class="screenshot" src="/assets/img/animalfax_phone.png" alt="Screenshot of AnimalFax homepage on mobile device">
					<div class="bottom">
						<div class="home"></div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="emphasis">overview</h1>

		<div class="beta">
			AnimalFAX is to pets what Carfax is to cars. Find information on pet related businesses, leave ratings and reviews for businesses you use, and communicate directly with businesses and other users.
		</div>
	</div>
</div>