<div class="body-container">
	<div class="body work sub logoji">

		<div class="nav">
			<a href="/" class="beta">MCY</a><br>
			<a href="/work" class="delta"><i class="fa fa-long-arrow-left"></i> work</a>
		</div>

		<div class="header">

			<h1 class="mega emphasis">Logoji Labs</h1>
			<h2 class="tagline">a social media management platform with a twist</h2>
		</div>

		<div class="beta project">

			<div class="mobile-container">

				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							logoji-bold.parseapp.com
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_browser.png" alt="Screenshot of Logoji Labs homepage on desktop device">
				</div>

				<div class="phone">
					<div class="top">
						<div class="camera"></div>
						<div class="speaker"></div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_phone.png" alt="Screenshot of Logoji Labs homepage on mobile device">
					<div class="bottom">
						<div class="home"></div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="emphasis">overview</h1>

		<div class="beta">
			A social media management platform with a twist, Logoji Labs is a unique service allowing for the creation of emojis with any image that will link to a given url. These "logojis" are then inserted into Facebook posts, creating a unique marketing experience.
		</div>

		<!-- <h1 class="emphasis">special features</h1>

		<div class="beta">
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
		</div> -->
	</div>
</div>