<div class="body-container">
	<div class="body work sub">

		<div class="header">

			<h1 class="mega emphasis">Logoji Labs</h1>
			<h3 class="tagline">A Social Media Management Platform with a Twist</h3>
		</div>

		<div class="beta">
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
		</div>

		<div class="beta">
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
		</div>

		<div class="beta">
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
			Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum Lorem Ipsum dolor elit secum
		</div>
	</div>
</div>