<div class="body-container">
	<div class="body work sub logoji">

		<div class="nav">
			<a href="/" class="beta">MCY</a><br>
			<a href="/work" class="delta"><i class="fa fa-long-arrow-left"></i> work</a>
		</div>

		<div class="header">

			<h1 class="mega emphasis">Logoji Labs</h1>
			<h2 class="tagline">a social media management platform with a twist</h2>
		</div>

		<div class="beta project">

			<div class="mobile-container">

				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							logoji-bold.parseapp.com
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_browser.png" alt="Screenshot of Logoji Labs homepage on desktop device">
				</div>

				<div class="phone">
					<div class="top">
						<div class="camera"></div>
						<div class="speaker"></div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_phone.png" alt="Screenshot of Logoji Labs homepage on mobile device">
					<div class="bottom">
						<div class="home"></div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="emphasis">overview</h1>

		<div class="beta">
			Logoji Labs empowers organizations with a unique tool to create one-of-a-kind marketing campaigns. In the lab, it is possible to combine any logo and url to create a custom, clickable logoji. The publish page makes it easy to create posts with these logojis embedded directly into the text, which will be shared on the chosen, connected Facebook Page either immediately or at a scheduled time in the future. Once posted, the feedback page provides insight into the impact of the logojis used by tracking the number of times they have been clicked.
		</div>

		<h1 class="emphasis">my role</h1>

		<div class="beta">
			I take pride in all of my work, but this project in particular stands out as my favorite. The reason is because of the level of creative freedom and ownership I was allowed. Everything user-facing as well as the logic behind the scenes that supports it was built by me. While I'm not a traditional designer nor do I have an education in UX, I believe that the experience I have crafted is clean and delightful. I find the interface to be aesthetically pleasing, but more importantly highly functional.<br><br>
			Let's dive in ...
		</div>

		<div class="beta">
			<figure>
				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							logoji-bold.parseapp.com/#/login
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/logoji_login_browser.gif" alt="Gif of Logoji Labs Login page material design on desktop device">
				</div>
			    
			    <figcaption class="epsilon">Login inspired by Material Design</figcaption>
			</figure>
		</div>

		<h1 class="emphasis">material design</h1>

		<div class="beta">
			In general, I've always preferred flat over realistic design, but there still felt like something was missing. Upon being introduced to Google's Material Design, it was love at first sight. Therefore, I decided that Logoji Labs was a perfect time to put these design specs to work. Not everything was approved, but I believe the essense remains and looks amazing.
		</div>

		<h1 class="emphasis">always responsive</h1>

		<div class="beta responsive">

			<div class="phone">
				<div class="top">
					<div class="camera"></div>
					<div class="speaker"></div>
				</div>
				<img class="screenshot" src="/assets/img/logoji_feedback_mobile.png" alt="Screenshot of Logoji Labs Post Feedback page on mobile device">
				<div class="bottom">
					<div class="home"></div>
				</div>
			</div>

			Responsive design is a given with the prevalence of mobile devices. The application must be able to function consistently well no matter what type of device is being used and the design must be cohesive. While this does present additional challenges and complexity, it becomes quite easy with the use of CSS media queries coupled with Bootstrap's grid system.
			<br><br>
			By placing the components of the content into individual cards, I've separated the sections logically and visually. This also allows for consistency and flexibility across devices. The screens show how nicely this design conforms to various widths.
			<br><br>

			<div class="browser">

				<div class="top">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<span>
						<i class="fa fa-globe"></i>
						logoji-bold.parseapp.com/#/post-feedback
					</span>
					
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<img class="screenshot" src="/assets/img/logoji_feedback_browser.png" alt="Screenshot of Logoji Labs Post Feedback page on desktop device">
			</div>
		</div>

		<h1 class="emphasis" style="clear: both;">content is king</h1>

		<div class="beta">
			Getting more specific, designing the details of each page was actually rather easy as well. The more important determining factor is ultimately the content that the design needs to support. This is where user experience considerations come into play and provide clarity for the design decisions. I had to 
		</div>
	</div>
</div>