<div class="body-container">
	<div class="body work sub printaire">

		<div class="nav">
			<a href="/" class="beta">MCY</a><br>
			<a href="/work" class="delta"><i class="fa fa-long-arrow-left"></i> work</a>
		</div>

		<div class="header">

			<h1 class="mega emphasis">printaire</h1>
			<h2 class="tagline">custom postcard creation and printing for developers</h2>
		</div>

		<div class="beta project">
			
			<div class="mobile-container">

				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							www.printaire.com
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/printaire_browser.jpg" alt="Screenshot of PrintAire homepage on desktop device">
				</div>
				
				<div class="phone">
					<div class="top">
						<div class="camera"></div>
						<div class="speaker"></div>
					</div>
					<img class="screenshot" src="/assets/img/printaire_phone.jpg" alt="Screenshot of PrintAire homepage on mobile device">
					<div class="bottom">
						<div class="home"></div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="emphasis">overview</h1>

		<div class="beta">
			PrintAire streamlines the process of creating and mailing custom postcards in modern applications with a simple, well-documented REST API and user-friendly dashboard. With SDK's in the most popular languages, developers can easily integrate the service into existing applications without extensive refactoring. What's more, once implemented PrintAire effectively replaces the need for any overhead from maintaining in-house infrastructure.
		</div>

		<h1 class="emphasis">my role</h1>

		<div class="beta">
			The roles for this project were clearly defined. My coworker built PrintAire's REST API while I took the role of Lead Front-end Developer and implemented everything else.
			<br><br>
			As for the design, the majority of the static supporting pages retained the general style from the original theme. The exception are the dynamic pages; dashboard, orders, order details, settings, and documentation. On these pages, I did the design work with a focus on optimizing the content's presentation.
			<br><br>
			Overall, I am quite happy with the result. While there are some things that I feel could be improved had the development been done from scratch, PrintAire is still a clean, user-friendly application that performs well and provides all the information a user may need.
		</div>

		<h1 class="emphasis">good - bad - ugly</h1>

		<div class="beta">
			<figure>
				<div class="browser">

					<div class="top">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>

						<span>
							<i class="fa fa-globe"></i>
							bogdanpreda.com/themes
						</span>
						
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="screenshot" src="/assets/img/printaire_origin.png" alt="Gif of Logoji Labs Login page material design on desktop device">
				</div>
			    
			    <figcaption class="epsilon">Bogdan's Marketing Theme - the origin of PrintAire</figcaption>
			</figure>
			<br>
			An interesting challenge came from the genesis of PrintAire, where my bosses decided that we would build on top of <a target="_blank" href="http://bogdanpreda.com/themes/tf-marketing/v1/">the marketing theme from Bogdan.</a> While the intentions were good, to expedite the development, and some of the static content was reusable, unfortunately I feel that in this case it was a choice that caused more work than it replaced.
			<br><br>
			One of the bad things about using themes is that they tend to be poorly optimized, and this was no exception. The JavaScript folder alone is 1.7 mb! Being performance minded, this was both unacceptable and unnecessary for a custom web app. Also, since my current development stack leverages the amazing AngularJS, I knew I would be able to replicate everything while trimming the fat of all the excess JavaScript.
			<br><br>
			The theme looks great in a vacuum. That is, if it were being used as ideally intended with the content simply being replaced, it would continue to look nice. However, as soon as you begin removing large chunks and customizing it loses the shine. Furthermore, since the majority of the pages are user only, that means there must be a separation from the single page design. Thus, in order to provide a consistent experience throughout the site, I made the decision that this would be best presented through individual pages, further uglying up the development process.
			<br><br>
			As a result, PrintAire is a far cry from the original theme, but what is presented is a much better cohesive package.
		</div>

		<h1 class="emphasis">dashboard</h1>

		<div class="beta">
			
		</div>

		<h1 class="emphasis">docs</h1>

		<div class="beta">
			
		</div>
	</div>
</div>