@import '../1-settings/variables';

$containerPadding: 25px;
$containerGradient__rectangle: radial-gradient(rgba(#fff, 0.1) $containerPadding, rgba(#fff, 0));
$containerGradient__circle: linear-gradient(135deg, rgba(#fff, .1), rgba(#fff, 0));

.MyContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $containerPadding * 2;
	padding: $containerPadding;

	@media #{$mq-md} {
		max-width: $maxWidth;
	}

	@media #{$mq-lg} {
		width: $maxWidth;
	}

    > div {
        background-color: $dark-border;
		padding: $containerPadding;

		@media #{$mq-md} {
			padding: $containerPadding * 2;
		}
    }
}

.MyContainer__rectangle {
    background: $containerGradient__rectangle;
}

.MyContainer__circle {
    background: $containerGradient__circle;
}

.MyContainer__fixed {
    position: fixed; left: 50%;
	transform: translateX(-50%);
	width: 100%;

	@media #{$mq-md} {
		padding: 0 50px;
	}
}