@import '../1-settings/variables';

.MyContainer {
	display: flex;
	justify-content: center;
  margin: auto;
  padding: $padding calc(#{$padding}/2);
  width: 100vw; min-height: 100%;

  @media #{$mq-md} {
    padding: $padding-md calc(#{$padding}/2);
    max-width: $bp-md;
  }
}

.MyContainer__hero {
  align-items: center;
  font-size: 1.6rem;

  @media #{$mq-xs} {
    font-size: 2rem;
  }

  @media #{$mq-md} {
    font-size: 1.6rem;
  }

  > div {
    text-align: center;
  }

  h1,
  h3,
  h6 {
    font-weight: normal;
  }

  h1 {
    margin-bottom: .5em;

    @media #{$mq-md} {
      margin-bottom: 0;
    }
  }

	hr {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 5em;

    @media #{$mq-md} {
      margin-top: .5em;;
      margin-bottom: .5em;
    }
	}
}

.MyContainer__content {
  > div {
    text-align: left;
  }

  h1 {
    font-size: 3em;
    margin-bottom: .2em;
  }
}