<div class="body-container">
    <div class="body">
        <div class="beta">
            In the equation for success, there is one quality I admire that I feel is often overlooked - persistence. The ability to not just do things but to get them done. This is something I apply to all aspects of my life. I would not want to hire someone that knows how to build a website but can't deliver, and don't want to be that type of developer or person.
        </div>
        <h1 class="emphasis">developer that delivers</h1>
        <div class="beta">
            I take pride in who I am and what I do. Always improving myself and pushing limits, I enjoy being challenged mentally and physically. Weightlifting is a new lifestyle I am loving, and I look forward to seeing old friends that will no longer recognize me. Additionally I've begun practicing Jeet Kune Do which has quickly become one of my favorite hobbies. Don't call me Fast Eddie, but if you're not careful I'll hustle you at pool. In my downtime I can be found nose-deep in a novel or feeding my Game of Thrones obsession.
        </div>
        <h1 class="emphasis">always self-improving</h1>
        <div class="beta">
            I love this miracle that is life, aiming to not simply exist but to live and fully appreciate everything. There's so much peace and beauty to be found in nature, and I love experiencing this through hiking and kayaking. In the future I hope I'm able to travel the world and experience all that it has to offer.
        </div>
        <h1 class="emphasis">appreciate everything</h1>
    </div>
</div>