<div class="body-container">
    <div class="body">
        <h1 class="emphasis">about</h1>
        <div class="beta">
            Hello! My name is <b>Michael</b>, and I'm a web developer specializing in web apps built with <a href="https://en.wikipedia.org/wiki/HTML5">HTML</a>, <a href="http://lesscss.org/">Less CSS</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="https://angularjs.org/">AngularJS</a> and <a href="http://getbootstrap.com/">Parse</a>.
        </div>
        <div class="beta">
            I <b>love</b> tinkering with bits of code, and thanks to my <a href="http://bower.io/">Bower</a> and <a href="http://gruntjs.com/">Grunt</a> workflow, I get to spend more time doing it! While I've always been a full stack developer, I believe my abilities really highlighted in the front end environment.
        </div>
        <div class="beta">
            Graduating from the University of Central Florida with a Bachelor's in IT, I hit the ground running with a foundation of knowledge and a thirst for learning. Since then, I've been busy making kick ass web apps for <a href="boldtech.co">BOLD! Technologies</a>
        </div>
        <div class="beta">
            
        </div>
    </div>
</div>