<div class="body-container">
    <div class="body">
        <h1 class="emphasis">about</h1>
        <div class="beta">
            Hello! My name is <strong>Michael</strong>, and I'm a web developer specializing in web apps built with <a href="https://en.wikipedia.org/wiki/HTML5">HTML</a>, <a href="http://lesscss.org/">Less CSS</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="https://angularjs.org/">AngularJS</a> and <a href="http://getbootstrap.com/">Parse</a>.
        </div>
        <div class="beta">
            I <strong>love</strong> tinkering with bits of code, and thanks to my <a href="http://bower.io/">Bower</a> and <a href="http://gruntjs.com/">Grunt</a> workflow, I get to spend more time doing it! While I've always been a full stack developer, I believe my abilities are really highlighted in the front end environment.
        </div>
        <div class="beta">
            Graduating from the University of Central Florida with a Bachelor's in IT, I hit the ground running with a foundation of knowledge and a thirst for learning. Since then, I've been busy making <strong>kick ass</strong> web apps for <a href="boldtech.co">BOLD! Technologies</a>.
        </div>

        <br><br><br><br>
        <h1 class="emphasis">hobbies</h1>
        <div class="beta">
            One of my <strong>proudest</strong> achievements is the change I've made through a serious commitment to fitness. What began as a simple desire to build muscle has developed into an active lifestyle that has improved my life in countless ways and translated well into a love of the outdoors - especially hiking and kayaking!
            <br><br>
            <figure>
                <img class="kayaking" src="/assets/img/kayak01.jpg">
                <figcaption>Beautiful day on the Apopka Beauclair Canal</figcaption>
            </figure>
        </div>

        <div class="beta">
            Additionally, I also practice <a href="http://www.jkdinstitute.com/">Jeet Kune Do</a>, which has quickly become one of my favorite activities. There is nothing quite like the unique ability martial arts and fighting has to make you feel both empowered and humbled.
        </div>

        <div class="beta">
            <img class="zeus pull-right hidden-xs" src="/assets/img/zeus.jpg">
            Another gigantic passion of mine is <strong>animals</strong>. I'm not yet ready to commit to being a dog owner, but by volunteering at <a href="http://petallianceorlando.org/">Pet Alliance of Greater Orlando</a> it allows me to help them and also get my fix for belly rubs and slobber. Here I am with my friend Zeus; with a smile like that it's no wonder he was adopted that day!
            <br class="visible-xs"><br class="visible-xs">
            <img class="zeus visible-xs" src="/assets/img/zeus.jpg">
        </div>

        <div class="beta">
            Lastly, I'm a brand new aquarist and simply <strong>obsessed</strong> with the hobby! I recently finished setting up and cycling my 10 gallon planted tank and stocked it with 3 yet-to-be-named Dwarf Puffers and 1 Clown Pleco named Salty Sam. If ever I'm reported missing, be sure to check that I'm not just staring into the aquarium mesermized.
            <br><br>
            <figure>
                <img class="aquarium" src="/assets/img/aquarium.jpg">
                <figcaption>What do you think? Can you spot all 4 fish?</figcaption>
            </figure>
        </div>
    </div>
</div>