<div class="body-container">
    <div class="body contact">
        <h1 class="emphasis">contact</h1>
        <div class="beta">
            I hope you enjoyed my website and I would love to hear from you. Do you have any questions? Comments? Feedback?
        </div>

        <div class="beta">
            I hope you enjoyed my website and I would love to hear from you. Do you have any questions? Comments? Feedback?
        </div>

        <div class="beta">
            I hope you enjoyed my website and I would love to hear from you. Do you have any questions? Comments? Feedback?
        </div>

        <div class="icons">
            <a class="fa fa-envelope fa-3x" href="mailto:michaelclaytonyuen@gmail.com"><span>Email</span></a>
            <a class="fa fa-linkedin fa-3x" href="https://www.linkedin.com/in/yuenmichael"><span>LinkedIn</span></a>
            <a class="fa fa-github-alt fa-3x" href="https://www.github.com/michaelyuen"><span>Github</span></a>
        </div>
    </div>
</div>