<div class="body-container">
    <div class="body">
        <div class="beta">
            In a time where life increasingly digital, gratification is expected to be instant, and human interaction has fallen by the wayside, I try to approach everything with passion, patience and perspective so as to reclaim the beauty of these forgotten values.
        </div>
        <div class="beta">
            As Alan Moore eloquently stated, everybody has their story to tell. Unfortunately, more often than not these stories lose their value to all but the teller.
        </div>
        <h1 class="emphasis">I don't like that</h1>
        <div class="beta">
            It's easy to hear; harder to listen. I try to listen to everybody's stories as if they were my own and appreciate what they mean to the person brave enough to tell them. If you have a story you'd like to tell or a project you'd like to build, contact me.
        </div>

        <div class="icons">
            <a class="fa fa-envelope fa-3x" href="mailto:michaelclaytonyuen@gmail.com"><span>Email</span></a>
            <a class="fa fa-linkedin fa-3x" href="https://www.linkedin.com/in/yuenmichael"><span>LinkedIn</span></a>
        </div>
    </div>
</div>