<div class="body-container">
	<div class="body">
		<h1 class="emphasis">work</h1>
		<div class="beta">
			My ideal website is a clean and delightful, with beautiful form that empowers the function. I believe using website should be fun and I aspire to build experiences that leave the user happy and satisfied. Have a look at what I've created so far.
		</div>
		<!-- <br><br><br>
		<div class="beta">
			
			<h2 class="emphasis">Animal<span>Fax</span></h2>
			<img class="screenshot" src="/assets/img/animalfax.png">
			
		</div> -->
	</div>
</div>