<div class="body-container">
	<div class="body work">

		<h1 class="emphasis">work</h1>

		<div class="beta">
			My ideal website is a clean and delightful, with beautiful form that empowers the function. I believe using website should be fun and I aspire to build experiences that leave the user happy and satisfied. Have a look at what I've created so far and enjoy yourself.
		</div>

		<div class="beta project">

			<div class="phone left">
				<div class="top">
					<div class="camera"></div>
					<div class="speaker"></div>
				</div>
				<img class="screenshot" src="/assets/img/logoji_phone.png">
				<div class="bottom">
					<div class="home"></div>
				</div>
			</div>

			<div class="overview">

				<h1 class="kilo emphasis">Logoji Labs</h1>
				<h4><strong>ROLE:</strong><span>Lead Front-end Developer</span></h4>
				<h4><strong>DEVICES:</strong>
					<i class="fa fa-mobile"></i>
					<i class="fa fa-tablet"></i>
					<i class="fa fa-laptop"></i>
					<i class="fa fa-desktop"></i>
				</h4>
				<h4><strong>TOOLS:</strong><span>AngularJS, HTML, Bootstrap, LessCSS, Parse</span></h4>
				<h4><strong>URL:</strong><span><a target="_blank" href="https://logoji-bold.parseapp.com">logoji-bold.parseapp.com</a></span></h4>
				<div class="beta">
					A social media management platform with a twist, Logoji Labs is a unique service allowing for the creation of emojis with any image that will link to a given url. These "logojis" are then inserted into Facebook posts, creating a unique marketing experience.
				</div>
			</div>

			<div class="browser">

				<div class="top">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<span>
						<i class="fa fa-globe"></i>
						logoji-bold.parseapp.com
					</span>
					
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<img class="screenshot" src="/assets/img/logoji_browser.png">
			</div>
		</div>

		<div class="beta project">

			<div class="phone right">
				<div class="top">
					<div class="camera"></div>
					<div class="speaker"></div>
				</div>
				<img class="screenshot" src="/assets/img/printaire_phone.png">
				<div class="bottom">
					<div class="home"></div>
				</div>
			</div>

			<div class="overview">

				<h1 class="kilo emphasis">PrintAire</h1>	
				<h4><strong>ROLE:</strong><span>Lead Front-end Developer</span></h4>
				<h4><strong>DEVICES:</strong>
					<i class="fa fa-mobile"></i>
					<i class="fa fa-tablet"></i>
					<i class="fa fa-laptop"></i>
					<i class="fa fa-desktop"></i>
				</h4>
				<h4><strong>TOOLS:</strong><span>AngularJS, HTML, Bootstrap, LessCSS, Parse</span></h4>
				<h4><strong>URL:</strong><span><a target="_blank" href="https://www.printaire.com">www.printaire.com</a></span></h4>
				<div class="beta">
					PrintAire is a service that enables developers to easily integrate the creation and printing of custom postcards into mobile and web applications. Eliminating the need for in-house printing infrastructure, using PrintAire provides businesses with an instant productivity boost.
				</div>
			</div>

			<div class="browser">

				<div class="top">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<span>
						<i class="fa fa-globe"></i>
						www.printaire.com
					</span>
					
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<img class="screenshot" src="/assets/img/printaire_browser.png">
			</div>
		</div>
			
		<div class="beta project">

			<div class="phone left">
				<div class="top">
					<div class="camera"></div>
					<div class="speaker"></div>
				</div>
				<img class="screenshot" src="/assets/img/animalfax_phone.png">
				<div class="bottom">
					<div class="home"></div>
				</div>
			</div>

			<div class="overview">

				<h1 class="kilo emphasis">Animal<span>Fax</span></h1>	
				<h4><strong>ROLE:</strong><span>Lead Front-end Developer</span></h4>
				<h4><strong>DEVICES:</strong>
					<i class="fa fa-mobile"></i>
					<i class="fa fa-tablet"></i>
					<i class="fa fa-laptop"></i>
					<i class="fa fa-desktop"></i>
				</h4>
				<h4><strong>TOOLS:</strong><span>AngularJS, HTML, Bootstrap, LessCSS, Parse</span></h4>
				<h4><strong>URL:</strong><span><a target="_blank" href="https://animalfax.parseapp.com">animalfax.parseapp.com</a></span></h4>
				<div class="beta">
					AnimalFAX is to pets what Carfax is to cars. Find information on pet related businesses, leave ratings and reviews for businesses you use, and communicate directly with businesses and other users.
				</div>
			</div>

			<div class="browser">

				<div class="top">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<span>
						<i class="fa fa-globe"></i>
						animalfax.parseapp.com
					</span>
					
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<img class="screenshot" src="/assets/img/animalfax_browser.png">
			</div>
		</div>

		<div class="beta project">

			<div class="phone right">
				<div class="top">
					<div class="camera"></div>
					<div class="speaker"></div>
				</div>
				<img class="screenshot" src="/assets/img/spur_phone.png">
				<div class="bottom">
					<div class="home"></div>
				</div>
			</div>

			<div class="overview">

				<h1 class="kilo emphasis">SPUR</h1>	
				<h4><strong>ROLE:</strong><span>Lead Front-end Developer</span></h4>
				<h4><strong>DEVICES:</strong>
					<i class="fa fa-mobile"></i>
					<i class="fa fa-tablet"></i>
					<i class="fa fa-laptop"></i>
					<i class="fa fa-desktop"></i>
				</h4>
				<h4><strong>TOOLS:</strong><span>Node.js, Express, jQuery, HTML, Bootstrap, LessCSS, Parse</span></h4>
				<div class="beta">
					The open mobile marketplace for goods and services brought directly to you on demand.
				</div>
				<div class="beta">
					See, in real time, nearby mobile vendors of goods and services. Track their position and their availability to come to you now!
				</div>
			</div>

			<div class="browser">

				<div class="top">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<span>
						<i class="fa fa-globe"></i>
						www.spur.com
					</span>
					
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<img class="screenshot" src="/assets/img/spur_browser.png">
			</div>
		</div>
	</div>
</div>