@import '../../styles/1-settings/variables';

.MyNav {
  align-items: center;
  background: $dark-text-primary;
  background: url(../../assets/images/marble.jpg) no-repeat;
  background-size: cover;
  box-shadow: 0 2px 5px $border;
  display: flex;
  font-family: 'Playfair Display', serif;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed; left: 0; top: 0;
  width: 100%; height: $navHeight;
	z-index: 2;

	@media #{$mq-md} {
		height: $navHeightMd;
		padding: 0 25px;
  }

  > a {
    font-size: 1.5rem;
  }
}