@import '../../styles/variables';

.article {
    background:rgba(0,0,0,.87);
    //display: none;
    //box-shadow: 2px 0px 4px #9093a3;
    //border-right: 1px solid $border;
    position: fixed; left: 0; top: 0;
    //width: 300px; height: 100vh;

    // Trash
    width: 100%; height: 70px;
    z-index: 1;

    h1 {
        align-items: center;
        color: $dark-text-primary;
        display: flex;
        height: 64px;
        justify-content: center;

        a {
            color: $dark-text-primary;
        }
    }
}